/*Reset CSS simples*/
* {
    margin: 0;
    padding: 0;
}

.principalApresentacao{
    display: flex;
    align-items: center;
}

body{
    height: 100vh;
    box-sizing: border-box;
    background-color: #000000;
    color: beige;
}
.tituloDestaque{
    color: #22d4fd;
}